/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;*/
    font-family: monospace;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*text-transform: uppercase;*/
    width: 100%;
}

.inAppBrowserWrap {
    /*background-color: #E4E4E4;*/
    color: #E4E4E4;
}

/* Portrait layout (default) */
.app2 {
    background: url(../img/logo_prevvy.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

div.m-app-loading {
    position: fixed;
}

div.m-app-loading div.animated-container {
    background-color: #0b84ba;
    bottom: 0px;
    left: 0px;
    opacity: 1.0;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 999999;
}

/* Used to initialize the ng-leave animation state. */
div.m-app-loading div.animated-container.ng-leave {
    opacity: 1.0;
    transition: all linear 200ms;
    -webkit-transition: all linear 200ms;
}

/* Used to set the end properties of the ng-leave animation state. */
div.m-app-loading div.animated-container.ng-leave-active {
    opacity: 0;
}

div.m-app-loading div.messaging {
    color: #FFFFFF;
    font-family: monospace;
    left: 0px;
    margin-top: -100px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50%;
}

div.m-app-loading h1 {
    font-size: 26px;
    line-height: 35px;
    margin: 0px 0px 20px 0px;
}

div.m-app-loading p {
    font-size: 18px;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}

.separator {
    height: 5px;
}

.text {
    text-align: center;
    /* vertical-align: middle; */
    line-height: 90px;
    /*margin-top: 40%;*/
    font-family: 'Roboto', sans-serif;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

.event.ocr {
    margin-top: 10px;
    background-color: #4B946A;
}

.textRecognized {
    width: 100%;
    min-height: 200px;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.app, html, body {
    height: 100%;
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.google-fit-logo-loading, .google-fit-logo {
    margin-left: calc(50% - 96px);

}

.google-fit-logo {
    background: url(../img/fit_icons/fit_192x192.png) no-repeat center center;
    height: 192px;
    width: 192px;
}

.google-fit-logo-loading {
    background: url(../img/WearOS_GoogleFit_LogoAnimation_TW04.gif) no-repeat center center;
    margin-left: calc(50% - 150px);
    height: 255px;
    width: 300px;
}

#google-fit {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.google-fit-button {
    background: #C51263 !important;
    /*width: 90%;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 1px;
    margin-top: 1px;
}

#synchronizing {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.center-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}